.container-fluid {
    @apply w-full px-80 max-1440:px-40 max-767:px-24 min-1600:max-w-1402 min-1600:mx-auto min-1600:px-0;
}

.container-fluid-sm {
    @apply w-full px-55 max-1440:px-30 max-767:px-24 min-1600:max-w-1402 min-1600:mx-auto min-1600:px-0;
}

.container-fluid-lg {
    @apply w-full px-100 max-1440:px-60 max-767:px-24 min-1600:max-w-1402 min-1600:mx-auto min-1600:px-0;
}

.title-bold h1,
.title-bold h2,
.title-bold h3,
.title-bold h4,
.title-bold h5,
.title-bold h6 {
    @apply font-bold;
}

.title-white h1,
.title-white h2,
.title-white h3,
.title-white h4,
.title-white h5,
.title-white h6 {
    @apply text-white;
}

.title-black h1,
.title-black h2,
.title-black h3,
.title-black h4,
.title-black h5,
.title-black h6 {
    @apply text-black;
}

.title-body h1,
.title-body h2,
.title-body h3,
.title-body h4,
.title-body h5,
.title-body h6 {
    @apply font-body;
}

.sub-title p {
    @apply text-heading-4 leading-28 uppercase font-body font-normal max-575:text-body-1 max-575:leading-20;
}

.sub-title.white p {
    @apply text-white;
}

.inline-title span {
    @apply inline;
}

.global-list ul {
    @apply flex flex-col items-center justify-start m-0 p-0 last:mb-0 w-full gap-10;
}

.global-list ul li {
    @apply relative w-full m-0 p-0 pl-10 text-body-2 leading-16 font-body;
}

.global-list ul li:before {
    content: "";
    @apply absolute top-6 left-0 w-8 h-8 bg-yellow rounded-full;
}

.global-list li span {
    @apply font-bold;
}

.btn {
    @apply inline-flex cursor-pointer items-center justify-center text-center border-0 font-bold font-body text-body-2 leading-16 relative overflow-hidden z-1 duration-300 delay-150 ease-linear;
}

.btn-yellow {
  @apply hover:text-white leading-20 px-25 py-10 uppercase font-extrabold bg-yellow border-0 not-italic text-black;
}

.btn-yellow:hover {
  @apply text-white;
}

.btn-yellow::before {
  content: '';
  @apply absolute top-0 right-0 -z-1 w-0 h-full bg-slate-gray duration-300 delay-150 ease-linear;
}

.btn-yellow:hover::before {
  @apply w-full left-0;
}

.btn-b-yellow {
  @apply border-2 border-yellow leading-16 px-25 py-10 uppercase bg-transparent font-extrabold not-italic text-yellow;
}

.btn-b-yellow::before {
  content: '';
  @apply absolute top-1/2 right-0 -z-1 w-0 h-[150%] bg-yellow -translate-y-1/2 duration-300 delay-150 ease-linear;
}

.btn-b-yellow:hover::before {
  @apply w-[150%] left-0;
}

.btn-b-yellow:hover {
  @apply text-white;
}

.btn-black {
    @apply leading-16 px-25 py-10 uppercase bg-black text-yellow z-1 font-extrabold;
}

.btn-black:hover {
    @apply text-black;
}

.btn-black::before {
    content: "";
    @apply absolute top-0 right-0 w-0 h-full bg-yellow duration-300 delay-150 ease-linear -z-1;
}

.btn-black:hover::before {
    @apply w-full left-0;
}

.color-white p,
.color-white span,
.color-white li,
.color-white h1,
.color-white h2,
.color-white h3,
.color-white h4,
.color-white h5,
.color-white h6 {
    @apply text-white;
}

.max-w-content {
    @apply max-w-1000 mx-auto text-center;
}

.bg-cream {
    @apply relative;
}

.bg-cream .container-fluid-lg, .bg-cream .container-fluid-sm, .bg-cream .container-fluid {
    z-index: 5;
    position: relative;
}

.bg-cream::before {
    @apply content-[''] absolute top-0 left-0 w-full h-full;
    z-index: 1;
    background-color: rgba(214, 207, 201, 0.8);
}

.bg-cream img {
    @apply absolute top-0 left-0 w-full h-full;
}

.white-box {
    @apply max-w-1000 mx-auto p-28 relative z-5 max-575:p-20;
}

.white-box::before{
    @apply content-[""] absolute top-0 left-0 w-full h-full;
    background: rgba(255, 255, 255, 0.88);
}

.white-gradient>* {
    @apply relative;
}

.white-gradient .container-fluid, .white-gradient .container-fluid-sm,.white-gradient .container-fluid-lg {
    @apply relative z-2;
}

.white-gradient::before {
    @apply content-[''] absolute top-0 left-0 w-full h-full z-1;
    background: linear-gradient(360deg, #d6cfc9e0 31.33%, #d6cfc900 35.92%, #d6cfc900 .02%, #d6cfc9e0 50.64%);
}

.white-gradient img:first-child {
    @apply absolute top-0 left-0 w-full h-full object-cover;
}

.black-gradient {
    @apply relative;
}

.black-gradient::before {
    @apply content-[''] absolute top-0 left-0 w-full h-full max-575:!bg-[linear-gradient(180deg,rgba(0,0,0,0)_30.95%,#000000_41.4%),radial-gradient(60.4%_24.89%_at_20.08%_6.44%,#F4EEE3_0%,#C2B7A3_55%,#000000_110.16%)] bg-center bg-cover bg-no-repeat;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.68%, rgba(0, 0, 0, 0.4) 91.4%), radial-gradient(
    45% 90% at 15% 30%,
    #F4EEE3 0%, 
    #C2B7A3 30.65%, 
    #000000 100%
    );
}