/* Hero Section Start */
.hero-banner {
    @apply relative min-1024:h-880 h-screen flex flex-col items-center justify-center;
}

.hero-banner::before {
    content: "";
    @apply absolute top-0 left-0 w-full h-full pointer-events-none;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0) 50%), radial-gradient(69.68% 48.01% at 50% 51.99%, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
}

.hero-banner video {
    @apply block size-full object-cover object-top absolute inset-0;
}

.hero-banner .video-title {
    @apply block relative z-1;
}

.hero-banner .hero-slider {
    @apply hidden min-1024:max-h-880 size-full object-cover relative;
}

.hero-banner .hero-slider .container-fluid-lg {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-full z-1;
}

.hero-banner .hero-slider .swiper-slide {
    @apply relative;
}

.hero-banner .hero-slider .swiper-slide::before {
    content: "";
    @apply absolute top-0 left-0 w-full h-full pointer-events-none;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0) 50%), radial-gradient(69.68% 48.01% at 50% 51.99%, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
}

.hero-banner .hero-slider img {
    @apply absolute top-0 w-full h-full left-0;
}

.hero-banner.show-slider .hero-video {
    @apply block;
}

.hero-banner.show-slider .hero-slider {
    @apply block;
}

.hero-pagination {
    @apply absolute !top-[78.4%];
}

.hero-banner .swiper-pagination-bullet {
    @apply w-40 h-10 border-2 border-white rounded-none opacity-100 bg-transparent;
}

.hero-banner .swiper-pagination-bullet-active {
    @apply bg-white;
}

.hero-banner .title h1 {
    @apply leading-77 max-575:leading-38 max-990:leading-55;
}

.hero-banner .title span {
    @apply mt-20 max-575:mt-10 max-575:text-heading-3-tablet;
}

.hero-banner .sub-title {
    @apply max-w-1312 mx-auto w-full;
}

.hero-banner .sub-title h2 {
    @apply leading-34 max-575:leading-22 max-575:text-18 text-white text-heading-4;
}

.banner-btns {
    @apply max-575:gap-10;
}

.banner-btns .btn {
    @apply max-575:min-w-245;
}

.inner-banner {
    @apply relative h-468;
}

.inner-banner .title-bold {
    @apply mt-[5%] text-center;
}

.inner-banner::before {
    @apply content-[""] bg-center bg-no-repeat bg-cover absolute top-0 left-0 w-full h-full;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0) 50%), radial-gradient(57.69% 39.75% at 50% 60.25%, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
}

.inner-banner .container-fluid-lg {
    @apply flex justify-center items-center h-full z-5;
}
/* Hero Section End */

/* Zigzag Section Start */
.zigzag-wrapper {
    @apply min-1024:py-80 pb-40 pt-20 relative bg-center bg-cover bg-no-repeat;
}

.zigzag-wrapper::before {
    @apply content-[""] absolute top-0 left-0 w-full h-full;
    background: linear-gradient(270.07deg, rgba(249, 249, 249, 0) 31.57%, #F9F9F9 52.8%), linear-gradient(0deg, #FFFFFF, #FFFFFF), radial-gradient(72.02% 141.57% at 86.64% 12.18%, #F4EEE3 0%, #C2B7A3 50.96%, #FFFFFF 100%);
}

.zigzag-wrapper .zigzag-inner {
    @apply flex items-center gap-100 max-1024:flex-col max-1200:justify-center max-1200:gap-50 relative min-1600:justify-between max-575:gap-25;
}

.zigzag-wrapper.right-image .zigzag-inner {
    @apply max-1024:flex-col-reverse;
}

.zigzag-wrapper.right-image img:first-child {
    @apply min-639:block hidden;
}

.zigzag-wrapper.right-image img:last-child {
    @apply max-639:block hidden;
}

.zigzag-wrapper .zigzag-inner img {
    @apply min-1024:w-400 max-575:max-w-200 max-1024:max-w-300 min-1600:w-420;
}

.zigzag-border {
    @apply border-l-3 border-gray ps-40 min-575:py-20 max-575:ps-20;
}

.zigzag-wrapper.right-image .zigzag-left {
    @apply flex flex-col gap-20 min-1024:max-w-640 min-1200:max-w-740 min-1600:w-full;
}

.zigzag-wrapper .zigzag-right {
    @apply min-1024:max-w-640 min-1200:max-w-740 min-1600:w-auto;
}

.zigzag-wrapper.right-image .content p {
    @apply text-slate-gray;
}

.zigzag-wrapper.right-image .content strong {
    @apply font-extrabold text-body-2;
}

.zigzag-wrapper.right-image .zigzag-left img {
    @apply w-auto h-546 max-1199:w-full max-768:w-440 max-575:w-250;
}

.zigzag-wrapper .zigzag-right {
    @apply flex flex-col gap-20 relative;
}

.zigzag-wrapper .global-list {
    @apply flex flex-col gap-10;
}

.zigzag-wrapper .global-list li {
    @apply text-white relative ps-20;
}

.zigzag-wrapper .global-list li::before {
    content: "";
    @apply absolute top-8 left-0 w-8 h-8 bg-yellow rounded-full;
}

.zigzag-wrapper .btn-custom {
    @apply flex items-center gap-10 mt-10 flex-wrap;
}

.zigzag-wrapper .btn-custom a img {
    @apply w-24 h-24;
}
/* Zigzag Section End */

/* Slider Section Start */
.different-slider-wrapper {
    @apply max-768:py-80 py-55 bg-black;
}

.different-slider-wrapper .title {
    @apply max-575:max-w-328 mx-auto max-w-1000;
}

.different-slider-wrapper .content {
    @apply max-575:max-w-328 mx-auto max-w-1000;
}

.different-slider-wrapper .title span {
    @apply inline;
}

.different-slider-wrapper .container-fluid-sm {
    @apply max-639:px-0;
}

.different-slider-wrapper .swiper-slide {
    @apply h-auto;
}

.different-slider-wrapper .slider-card {
    @apply h-full relative;
}

.different-slider-wrapper .slider-card .card-inner {
    @apply flex flex-col p-28 h-full items-center border-2 border-yellow justify-center;
}

.different-slider-wrapper .slider-card h6 {
    @apply relative max-w-202 mt-28 leading-24;
}

.different-slider-wrapper .slider-card .content {
    @apply mt-14;
}

.different-slider-wrapper .slider-card img {
    @apply w-100 h-100 relative;
}

.slider-card::before {
    @apply content-[''] absolute top-0 left-0 h-full w-full;
    background: linear-gradient(359.91deg, rgba(26, 26, 26, 0.88) 23.44%, rgba(26, 26, 26, 0.704) 49.04%, rgba(26, 26, 26, 0.5896) 60.42%, rgba(26, 26, 26, 0) 80.33%), rgba(94, 94, 94, 0.2);
}

.card-slider-pagination {
    @apply max-1199:flex items-center gap-28 max-1199:visible justify-center mt-40 hidden;
}

.card-slider-pagination img {
    @apply w-40 h-40 cursor-pointer !static;
}
/* Slider Section End */

/* Pricing Section Start */
.pricing-section {
    @apply py-80 bg-no-repeat relative overflow-hidden;
}

.pricing-section .price-tabs {
    @apply flex items-center gap-20 justify-center mt-55 max-575:mt-40;
}

.price-tabs button span {
  @apply cursor-pointer border-b-2 border-transparent transition-all duration-300 relative font-heading font-bold text-body-1 max-575:text-body-2 text-black opacity-50 uppercase;
}

.price-tabs button.active span {
  @apply border-b-2 border-black text-black opacity-100;
}

.price-tabs .month-btn {
    @apply border-r-2 border-black pe-20;
}

.pricing-section span {
    @apply inline;
}

.pricing-section .pricing-slider {
    @apply pt-65 max-575:pt-40 pb-10 px-10 max-575:px-0 max-575:overflow-visible;
}

.pricing-section .pricing-slider img {
    @apply relative;
}

.pricing-section .swiper-slide {
    @apply h-auto
}

.pricing-section .content {
    @apply mt-28 max-575:mt-20 max-w-1000 mx-auto;
}

.pricing-section .pricing-card {
  @apply h-full relative transition-all duration-500 ease-out border-2 border-[rgba(26,26,26,0.3)];
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(12px);  
  -webkit-backdrop-filter: blur(12px);
}

.pricing-section .pricing-card:hover {
  @apply scale-y-105 -translate-y-3 border-transparent;
}

.pricing-section .pricing-card-inner {
  @apply flex flex-col p-28 h-full items-center justify-center bg-white border-4 border-transparent pt-10;
}

.pricing-section .pricing-card:hover .pricing-card-inner {
  @apply border-black;
}

.pricing-section .price-badge {
    @apply flex w-full items-start pb-10 -ms-65 me-6;
}

.pricing-section .pricing-card:hover .price-badge {
    @apply me-0;
}

.pricing-card:hover::before {
    @apply content-[''] absolute top-0 left-0 h-full w-full;
    background: linear-gradient(359.91deg, rgba(227, 227, 227, 0.88) 23.44%, rgba(227, 227, 227, 0.704) 49.04%, rgba(227, 227, 227, 0.5896) 60.42%, rgba(227, 227, 227, 0) 80.33%), rgba(227, 227, 227, 0.2);
}

.pricing-section .title-bold h5, .pricing-section .content p {
    @apply relative;
}

.pricing-card-inner .price-content {
    @apply mt-12 mb-28;
}

.pricing-card-inner .price-content span {
    @apply border-r-2 pe-8 border-[rgba(26,26,26,0.8)] font-normal;
}

.pricing-card-inner .price-content del {
    @apply opacity-40 pe-5;
}

.pricing-card-inner .price-content p {
    @apply text-heading-6 text-center !text-black;
}

.pricing-card-inner .content p {
    @apply text-slate-gray leading-20;
}

.pricing-section .price-tag {
    @apply uppercase bg-yellow text-body-4 font-extrabold py-8 px-10 top-10 left-0;
}
/* Pricing Section End */

/* Testimonial Section Start */
.testimonial-section {
    @apply py-80;
}

.testimonial-section .feedback {
    @apply flex justify-between gap-28 relative max-768:justify-center;
}

.testimonial-section .feedback .img {
    @apply shrink-0 relative;
}

.testimonial-section .feedback .left-quote {
    @apply max-768:absolute max-768:top-0 max-767:left-110 max-479:left-70;
}

.testimonial-section .feedback .right-quote {
    @apply max-768:absolute max-768:top-0 max-767:right-110 max-479:right-70;
}

.testimonial-section .feedback img {
    @apply w-28 h-28;
}

.testimonial-section .testimonial-card {
    @apply border-2 border-black p-28 max-575:p-22;
}

.testimonial-card::before {
    @apply content-[''] absolute top-0 left-0 h-full w-full;
    background: linear-gradient(359.91deg, rgba(249, 249, 249, 0.88) 23.44%, rgba(249, 249, 249, 0.704) 49.04%, rgba(249, 249, 249, 0.5896) 60.42%, rgba(249, 249, 249, 0) 80.33%), rgba(255, 255, 255, 0.2);
}

.testimonial-section .feedback .content {
    @apply w-auto max-768:mt-40;
}

.testimonial-section .feedback .content p {
    @apply text-heading-5 text-slate-gray leading-29 text-center max-w-509;
}

.testimonial-slider-pagination {
    @apply flex justify-center gap-28;
}

.testimonial-slider-pagination img {
    @apply w-40 h-40 mt-55 cursor-pointer;
}

.testimonial-section .client-name p {
    @apply text-slate-gray font-bold uppercase font-heading relative;
}
/* Testimonial Section End */

/* Journey Section Start */
.journey-section {
    @apply py-68 relative max-575:py-40;
}

.journey-section::before {
    @apply content-[''] absolute top-0 left-0 w-full h-full max-575:!bg-[linear-gradient(180deg,rgba(0,0,0,0)_30.95%,#000000_41.4%),radial-gradient(60.4%_24.89%_at_20.08%_6.44%,#F4EEE3_0%,#C2B7A3_55%,#000000_110.16%)] bg-center bg-cover bg-no-repeat;
    background: linear-gradient(#0000 80.68%,#0006 91.4%),radial-gradient(53% 110% at 10% 18%,#f4eee3,#c2b7a3 30.65%,#000);
}

.journey-section .zigzag-inner {
    @apply !gap-120 max-1200:!gap-40 max-1200:!flex-col max-1600:!justify-center;
}

.journey-section .zigzag-left img {
    @apply max-575:!w-200 min-1600:w-500 min-1024:w-450;
}

.journey-section .global-list {
    @apply flex flex-col gap-10;
}

.journey-section .global-list li {
    @apply text-white relative ps-20;
}

.journey-section .global-list li::before {
    content: "";
    @apply absolute top-8 left-0 w-8 h-8 bg-yellow rounded-full;
}

.journey-section .journey-left {
    @apply relative;
}

.journey-section img {
    @apply h-auto max-575:h-auto max-575:w-150;
}

.journey-section .btn-custom {
    @apply flex items-center gap-10 mt-10 flex-wrap;
}

.journey-section .btn-custom a {
    @apply flex items-center gap-10 max-575:min-w-199;
}

.journey-section .btn-custom a img {
    @apply w-24 h-24;
}

.journey-section .btn-custom a img {
    @apply transition-all duration-300 ease-linear;
    transition-property: filter, transform;
  }

  .journey-section .btn-custom a:hover img {
    filter: brightness(0) saturate(100%) invert(99%) sepia(3%) saturate(462%) hue-rotate(228deg) brightness(120%) contrast(100%);
  }
/* Journey Section End */

/* Stylist Section Start */
.stylist-section {
    @apply py-80;
}

.stylist-section .white-box .title {
    @apply relative;
}

.stylist-inner .content p {
    @apply font-extrabold mt-28 max-479:mt-20;
}

.stylist-inner .stylist-grid {
    @apply grid grid-cols-4 gap-28 mt-28 max-768:grid-cols-2 max-479:grid-cols-1 max-768:gap-20;
}

.stylist-grid .img {
    @apply relative pt-[75.81%];
}

.stylist-grid .img img {
    @apply absolute top-0 left-0 w-full h-full;
}

.stylist-grid .content p {
    @apply font-extrabold mt-10 min-575:max-w-190 mx-auto;
}

.stylist-section .btn-custom {
    @apply mt-38 text-center max-479:mt-30;
}
/* Stylist Section End */

/* Different grid Section Start */
.different-section {
    @apply py-80 max-575:py-40 bg-black;
}

.different-section .different-grid {
    @apply grid grid-cols-3 max-639:grid-cols-1 max-990:grid-cols-3 gap-28;
}

.different-card {
    @apply p-28 max-575:p-20 bg-white text-center;
}

.different-card .title,.different-card .content {
    @apply max-w-376 mx-auto;
}

.different-card .img {
    @apply relative pt-[74.47%];
}

.different-card .img img {
    @apply absolute top-0 left-0 w-full h-full object-cover;
}

.different-card .card-info {
    @apply flex flex-col gap-14 mt-28;
}
/* Different grid Section End */

/* Brand Section Start */
.brand-section {
    @apply py-80 relative;
}

.brand-section .content {
    @apply mt-28 max-575:mt-20;
}
/* Brand Section End */

/* Mission Section Start */
.mission-section {
    @apply py-30;
}

.mission-section .zigzag-inner img {
    @apply !w-320;
}
/* Mission Section End */

/* Elevate Section Start */
.elevate-section {
    @apply py-43;
}
.elevate-section img {
    @apply !w-304 h-456;
}

.elevate-section .zigzag-inner {
    @apply justify-between;
}
/* Elevate Section End */

/* Our Values Section Start */
.value-section {
    @apply bg-black py-80;
}

.value-card-slider .swiper-slide {
    @apply h-auto mt-55;
}

.value-card-slider .value-card {
    @apply h-full relative;
}

.value-card-slider .value-card-inner {
    @apply flex flex-col p-26 h-full items-center border-2 border-yellow;
}

.value-card-slider .title {
    @apply mt-28;
}

.value-card-slider .value-card .content {
    @apply mt-14
}

.value-card-slider .gradient-card img,
.value-card-slider .gradient-card .title {
    @apply relative;
}

.value-section .value-card .title {
    @apply max-w-376 text-center;
}
/* Our Values Section End */

/* Include Section Start */
.include-section {
    @apply py-80 bg-black;
}

.benefit-table-wrapper {
    @apply overflow-x-scroll
}

.benefit-table-wrapper::-webkit-scrollbar {
  @apply h-5;
}

.benefit-table-wrapper::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.benefit-table-wrapper::-webkit-scrollbar-thumb {
  @apply rounded-full bg-gray;
}

.benefit-table {
    @apply w-full border-separate border-spacing-4 mt-55;
}

.benefit-table th {
    @apply bg-slate-gray uppercase text-white p-20 font-bold leading-24;
}

.benefit-table th:first-child {
    @apply text-heading-5 leading-29 font-heading min-w-626 max-575:min-w-300;
}

.benefit-table tbody tr:nth-child(odd) {
    @apply bg-white;
}

.benefit-table tbody tr:nth-child(even) {
    @apply bg-grey1;
}

.benefit-table td {
    @apply text-gray font-extrabold text-body-2 leading-20 px-20 py-17 min-w-180;
}

.benefit-table td img {
    @apply w-24 h-24 mx-auto;
}
/* Include Section End */

/* Faq Section Start */
.faq-section {
    @apply py-80 relative z-2;
}

.faq-section .accordion-wrapper {
    @apply max-w-1000 mx-auto flex flex-col gap-14 pt-55;
}

.accordion-header {
  @apply flex items-center justify-between w-full bg-black transition-colors duration-300 text-left cursor-pointer py-20 px-28 max-639:px-15;
}

.accordion-header h3 {
  @apply text-white font-bold font-heading max-639:text-body-1 !leading-24;
}

.accordion-header img {
  @apply w-20 h-20 shrink-0 transition-transform duration-300 relative;
}

.accordion-item.active .accordion-header img {
  @apply rotate-180;
}

.accordion-body {
  @apply bg-white duration-300 ease-in-out overflow-hidden h-0;
}

.accordion-item {
  @apply overflow-hidden border-2 border-transparent transition-colors duration-300;
}

.accordion-item.active {
  @apply border-black bg-white;
}

.accordion-content {
  @apply py-20 px-28;
}

.accordion-content p {
  @apply text-body-2 text-gray leading-20 mb-5;
}

.accordion-content ul {
    @apply flex flex-col gap-10;
}

.accordion-content .global-list li {
    @apply text-gray relative ps-20;
}

.accordion-content ul li::before {
    content: "";
    @apply absolute top-8 left-0 w-8 h-8 bg-yellow rounded-full;
}
/* Faq Section End */

/* Zigazag Full Section Start */
.zigzag-wrapper-full {
  @apply relative py-95 max-1024:py-40 bg-white overflow-hidden;
}

.zigzag-wrapper-full::before {
  content: "";
  @apply absolute top-0 left-0 w-full h-full;
  background: linear-gradient(270deg, rgba(249, 249, 249, 0) 42.87%, #F9F9F9 51.92%), linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(270deg, rgba(249, 249, 249, 0) 24.68%, #F9F9F9 59.72%);
  pointer-events: none;
}

.zigzag-wrapper-full .zigzag-inner-full {
    @apply flex items-center relative max-1200:flex-wrap max-1200:gap-40;
}

.zigzag-wrapper-full .zigzag-right {
    @apply min-1024:max-w-640 min-1200:max-w-740 min-1600:w-auto relative z-1;
}

.zigzag-wrapper-full .community-zigzag-left img {
    @apply relative z-1 min-1199:absolute min-1199:-top-[123px] min-1200:w-[920px] min-1199:h-[496px] min-1200:left-[65%] min-1365:left-[62%] min-1441:left-[56%];
    -webkit-mask-image: linear-gradient(
    to right,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,1) 20%
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;

  mask-image: linear-gradient(
    to right,
    rgba(0,0,0,0) -1%,
    rgba(0,0,0,5) 17%
  );
  mask-repeat: no-repeat;
  mask-size: cover;
}
/* Zigazag Full Section End */

/* Morning Section Start */
.morning-section {
    @apply relative py-40;
}

.morning-section .zigzag-inner {
    @apply justify-between;
}

.morning-section::before {
    @apply content-[''] absolute top-0 left-0 w-full h-full max-575:!bg-[linear-gradient(180deg,rgba(0,0,0,0)_40.68%,rgba(0,0,0,0.4)_60.4%),radial-gradient(53.15%_49.51%_at_11.96%_2%,#F4EEE3_0%,#C2B7A3_50.65%,#000000_100%)];
    background:linear-gradient(180deg, rgba(0, 0, 0, 0) 51.68%, rgba(0, 0, 0, 0.4) 91.4%), radial-gradient(53.15% 100.51% at 8.96% 13%, #F4EEE3 0%, #C2B7A3 50.65%, #000000 98%);
}

.morning-section h3 {
    @apply !font-body capitalize mt-5;
}

.morning-section .zigzag-right {
    @apply max-w-700;
}
/* Morning Section End */

/* Reward Section Start */
.reward-section {
    @apply py-80 max-1024:py-40 bg-white;
}

.reward-section h3 {
    @apply font-body text-heading-5 capitalize max-1024:mt-10;
}

.reward-section .reward-grid {
    @apply grid grid-cols-4 gap-28 max-769:grid-cols-2 max-575:grid-cols-1;
}

.reward-section .reward-card .img {
    @apply relative pt-[100%] max-575:pt-[70%];
}

.reward-section .reward-card .img img {
    @apply absolute top-0 left-0 w-full h-full object-cover;
}

.reward-section h5 {
    @apply text-body-2 leading-20 mt-20;
}
/* Reward Section End */

/* Contact Zigzag Start */
.contact-info {
    @apply mt-34 flex flex-col gap-28 max-1024:gap-20;
}

.contact-info .email-list li {
    @apply flex items-center gap-10;
}

.contact-info .email-list li a {
    @apply font-extrabold transition-all duration-500;
}

.contact-info .email-list li a:hover {
    @apply text-yellow;
}

.contact-info .social-handle {
    @apply flex items-center gap-10;
}

.contact-info .social-handle li span {
    @apply font-extrabold;
}

.contact-info .social-handle li img {
    @apply w-20 h-20;
}

.contact-info .btn-custom {
    @apply flex gap-10 items-center;
}

.contact-info .btn-custom a {
    @apply flex gap-10 items-center;
}

.zigzag-wrapper-full .contact-zigzag-left img {
    @apply relative z-1 min-1199:absolute min-1199:-top-[40px] min-1200:w-[800px] min-1199:h-[456px] min-1200:left-[65%] min-1365:left-[62%] min-1441:left-[52%];
    -webkit-mask-image: linear-gradient(
    to right,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,1) 20%
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;

  mask-image: linear-gradient(
    to right,
    rgba(0,0,0,0) -3%,
    rgba(0,0,0,5) 7%
  );
  mask-repeat: no-repeat;
  mask-size: cover;
}
/* Contact Zigzag End */

/* Learning Section Start */
.learning-section {
    @apply py-80 max-1024:py-40;
}

.learning-section .content {
    @apply mt-28 max-639:mt-20;
}
/* Learning Section End */

/* Contact Form Start */
.contact-form-section {
    @apply py-80 max-1024:py-40 relative bg-center bg-no-repeat bg-cover;
    background-image: url('/assets/images/facial-room.webp');
}

.contact-form-section::before {
    @apply content-[''] absolute top-0 left-0 w-full h-full;
    background: linear-gradient(0deg, rgba(214, 207, 201, 0.88) 7.28%, rgba(214, 207, 201, 0.830036) 14.56%, rgba(214, 207, 201, 0.770928) 20.02%, rgba(214, 207, 201, 0.681814) 23.67%, rgba(214, 207, 201, 0) 29.13%), linear-gradient(180deg, rgba(214, 207, 201, 0.88) 22.54%, rgba(214, 207, 201, 0.830036) 27.55%, rgba(214, 207, 201, 0.770928) 35.06%, rgba(214, 207, 201, 0.681814) 39.19%, rgba(214, 207, 201, 0) 45.07%);
}
/* Contact Form End */

/* Membership Section Start */
.membership-section {
    @apply py-80 max-1024:py-40 bg-black;
}

.membership-section h3 {
    @apply font-body text-heading-5 capitalize font-normal leading-29 mt-4;
}

.membership-section .content {
    @apply mt-28 max-639:mt-20;
}
/* Membership Section End */

/* Image Slider Section Start */
.image-slider-section {
    @apply relative py-80 max-1024:py-40;
}

.image-slider-section.white-gradient::before {
    background: linear-gradient(0deg, rgba(214, 207, 201, 0.88) 4.21%, rgba(214, 207, 201, 0.830036) 8.42%, rgba(214, 207, 201, 0.770928) 11.58%, rgba(214, 207, 201, 0.681814) 13.68%, rgba(214, 207, 201, 0) 16.84%), linear-gradient(180deg, rgba(214, 207, 201, 0.88) 36.11%, rgba(214, 207, 201, 0.830036) 44.13%, rgba(214, 207, 201, 0.770928) 56.17%, rgba(214, 207, 201, 0.681814) 62.79%, rgba(214, 207, 201, 0) 100.21%);
}

.image-slider-section .image-card-slider {
    @apply mt-55 max-1024:mt-20;
}

.image-card-slider .swiper-slide {
    @apply h-auto;
}

.image-slider-section .image-slide-card {
    @apply p-28 max-575:p-20 bg-[rgba(255,255,255,0.88)] h-full relative;
}

.image-slide-card .play-icon img {
    @apply absolute !top-1/3 w-36 h-40 z-2 left-1/2 -translate-x-1/2;
}

.image-card-slider .slide-img.img {
    @apply pt-[62.26%] relative;
}

.image-card-slider .slide-img img {
    @apply absolute top-0 left-0 w-full h-full;
}

.image-card-slider .slide-img::before {
  @apply content-[''] absolute top-0 left-0 w-full h-full;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  z-index: 1;
}

.image-card-slider .card-data {
    @apply flex justify-between gap-20 mt-18 max-768:mt-20;
}

.image-card-slider .card-data .content {
    @apply text-center max-w-466;
}

.image-card-slider .card-data img {
    @apply static w-14 h-14 object-fill;
}

.image-card-slider .title {
    @apply text-slate-gray text-center mt-14;
}

.image-slider-pagination {
    @apply flex justify-center gap-28 items-center mt-55 max-1024:mt-30;
}

.image-slider-pagination .img, .image-slider-pagination img {
    @apply !static p-0 !w-auto !h-auto cursor-pointer;
}
/* Image Slider Section End */

/* Wellness Section Start */
.wellness-section {
    @apply py-80 max-1024:py-40;
}

.wellness-section .zigzag-blog {
    @apply flex justify-between items-center gap-55 mt-55 max-1024:mt-40 max-1199:flex-col max-1199:gap-40;
}

.wellness-section .blog-image {
    @apply w-6/12 max-1199:w-full;
}

.wellness-section .blog-image .img {
    @apply relative pt-[66.88%];
}

.wellness-section .blog-image img {
    @apply absolute top-0 left-0 w-full h-full object-cover;
}

.wellness-section .blog-detail {
    @apply flex flex-col gap-14 max-w-628 max-1199:max-w-full;
}

.wellness-section .btn-custom {
    @apply flex gap-10;
}

.wellness-section .btn-custom a {
    @apply font-extrabold uppercase relative inline-block;
}

.wellness-section .btn-custom a::after {
    @apply content-[''] absolute bottom-0 left-0 h-2 w-0 bg-black transition-all duration-700;
}

.wellness-section .btn-custom a:hover::after {
    @apply w-full;
}

.wellness-section .filter-bar {
    @apply max-w-400 border-2 border-black mt-55 max-1024:mt-40 flex items-center h-40 px-20 max-575:px-10;
}

.wellness-section .filter-bar label {
    @apply text-slate-gray ms-10 w-80;
}

.wellness-section .filter-bar select {
    @apply w-full font-extrabold text-slate-gray;
}

.wellness-section .filter-bar option {
    @apply font-extrabold;
}
/* Wellness Section End */

/* Grid Section Start */
.grid-section {
    @apply py-80 max-1024:py-40;
}

.blog-grid-section {
    @apply bg-black;
}

.card-grid {
    @apply grid grid-cols-3 max-575:grid-cols-1 max-769:grid-cols-2 gap-55 max-1024:gap-40 max-769:gap-20 mt-55 max-1024:mt-40;
}

.card-grid .grid-card h4 {
    @apply text-body-1 leading-24;
}

.card-grid .grid-card .img {
    @apply relative pt-[75%];
}

.card-grid .grid-card .img img {
    @apply absolute top-0 left-0 w-full h-full object-cover;
}

.card-grid .grid-card-data {
    @apply flex flex-col gap-14 text-center mt-14;
}

.card-grid .read-more-btn {
    @apply flex gap-10 justify-center;
}

.grid-section .read-more-btn a {
    @apply uppercase font-extrabold relative;
}

.grid-section .read-more-btn a::after {
    @apply content-[''] bg-current absolute bottom-0 left-0 h-2 w-0 transition-all duration-700;
}

.grid-section .read-more-btn a:hover::after {
    @apply w-full;
}

.card-grid .btn-custom {
    @apply flex justify-center gap-10 items-center;
}
/* Grid Section End */

/* Community Grid Start */
.community-grid-section {
    @apply relative bg-[url('/assets/images/facial-room.webp')] bg-cover bg-center bg-no-repeat;
}

.community-grid-section::before {
  content: "";
  @apply absolute inset-0;
  background: linear-gradient(
    359.75deg,
    rgba(214, 207, 201, 0.88) 7.45%,
    rgba(214, 207, 201, 0.830036) 14.61%,
    rgba(214, 207, 201, 0.770928) 19.97%,
    rgba(214, 207, 201, 0.681814) 23.55%,
    rgba(214, 207, 201, 0) 28.92%
  );
}

.community-grid-section::after {
  content: "";
  @apply absolute inset-0;
  background: linear-gradient(
    180deg,
    rgba(214, 207, 201, 0.88) 28.82%,
    rgba(214, 207, 201, 0.830036) 37.78%,
    rgba(214, 207, 201, 0.770928) 49.21%,
    rgba(214, 207, 201, 0.681814) 55.5%,
    rgba(214, 207, 201, 0) 80.88%
  );
}
/* Community Grid End */

/* 404 Start */
.error-banner {
    @apply py-80 max-1024:py-40 bg-white flex items-center min-1800:h-screen;
}

.error-banner .error {
    @apply flex gap-55 items-center max-w-967 mx-auto max-769:flex-col max-1200:gap-30;
}

.error-banner .error .title {
    @apply max-769:text-center
}

.error-banner .error strong {
    @apply block;
}
/* 404 End */

/* Newsletter Form start */
.newsletter .news-letter-form {
    @apply mt-20;
}

.newsletter .news-letter-form form .submit-btn {
    @apply max-575:text-center;
}

.newsletter .news-letter-form label {
    @apply text-softwhite;
}

.newsletter input:focus {
    @apply !outline-none;
}

.newsletter input[type="email"] {
    @apply py-10 px-20 bg-white w-full mt-10 text-black;
}

.newsletter input::placeholder {
    @apply opacity-50;
}

.newsletter input[type="submit"] {
    @apply cursor-pointer;
}

.newsletter .news-letter-form .btn-yellow {
    @apply max-1200:max-w-234 mx-auto mt-20;
}

.newsletter .wpcf7-spinner {
    @apply hidden;
}

.news-letter-form .wpcf7-not-valid-tip {
    @apply mt-10 -mb-20;
}

.news-letter-form .wpcf7-form.sent .wpcf7-response-output {
    @apply text-[#46b450];
}

.news-letter-form .wpcf7-response-output {
    @apply !border-0 text-[#dc3232] !mt-10 !m-0 !p-0;
}
/* Newsletter Form End */

/* Common Card Start */
.gradient-card {
    @apply relative;
}

.gradient-card::before {
    @apply content-[''] absolute top-0 left-0 h-full w-full;
    background: linear-gradient(359.91deg, rgba(26, 26, 26, 0.88) 23.44%, rgba(26, 26, 26, 0.704) 49.04%, rgba(26, 26, 26, 0.5896) 60.42%, rgba(26, 26, 26, 0) 80.33%), rgba(94, 94, 94, 0.2);
}

.gradient-card h6 {
    @apply leading-24;
}
/* Common Card End */

.current-menu-item {
    @apply text-yellow;
}

body.black-header nav {
    @apply bg-black static;
}

footer .FeedLayout__wrapper {
    @apply mt-20;
}

.home .zigzag-wrapper.right-image .inline-title span {
    @apply !block;
}

body.about .zigzag-wrapper {
    @apply py-30;
}

body.about .zigzag-inner img {
    @apply w-300;
}

.current-menu-item a {
    @apply !text-yellow;
}

.cmn-content {
    @apply py-80 max-1024:py-40;
}

.cmn-content h2 {
    @apply font-bold text-black text-heading-5 leading-29 mb-4 max-575:text-heading-6 max-575:leading-24;
}

.cmn-content .anim-item p:nth-of-type(1) {
    @apply text-body-1 leading-25 font-body !text-black;
}

.cmn-content .anim-item p {
    @apply text-slate-gray;
}

.cmn-content .anim-item h3 {
    @apply font-bold text-heading-5 leading-24 mt-55 mb-14 max-1024:mt-40 max-768:mt-20 max-575:text-heading-6 max-575:leading-24;
}

.cmn-content .global-list ul {
    @apply ms-20 max-575:ms-0;
}

.cmn-content .global-list ul li {
    @apply ps-15 text-slate-gray;
}

.cmn-content .global-list ul li:before {
    @apply bg-black top-4;
}

.cmn-content p + ul {
    @apply mt-14 mb-28 max-769:mb-14;
}

.cmn-content p a {
    @apply text-black font-extrabold transition-all duration-600 ease-in-out;
}

.cmn-content p a:hover {
    @apply text-yellow;
}

body.privacy-policy .cmn-content .anim-item p:nth-of-type(1),
body.accesibilty-statement .cmn-content .anim-item p:nth-of-type(1) {
    @apply !text-slate-gray !text-body-2;
}

.bloglist__data {
    @apply grid grid-cols-3 max-575:grid-cols-1 max-769:grid-cols-2 gap-55 max-1024:gap-40 max-769:gap-20 mt-55 max-1024:mt-40;
}

.search-input-bar {
    @apply max-w-400 border-2 border-black mt-55 max-1024:mt-40 flex items-center h-40 px-20 max-575:px-10 bg-no-repeat ms-auto;
    background-image: url('../images/yellow-search-icon.svg');
    background-position: top 8px left 10px;
}

.search-input-bar .search-form, .search-input-bar input {
    @apply w-full ps-10;
}

.contact-form-wrapper form {
    @apply max-w-1000 mx-auto mt-55 max-1024:mt-40;
}

.contact-form-wrapper form .form-grid {
    @apply flex flex-col gap-20;
}

.contact-form-wrapper form .form-row {
    @apply flex flex-wrap;
}

.contact-form-wrapper .form-row .form-field {
    @apply px-10 min-1024:w-1/2 w-full;
}

.contact-form-wrapper .email-field {
    @apply max-1024:mt-20;
}

.contact-form-wrapper .message-field {
    @apply !w-full;
}

.contact-form-wrapper form .form-row .form-field p {
    @apply w-full;
}

.contact-form-wrapper .form-row .form-field p span input,
.contact-form-wrapper .form-row .form-field p span textarea {
    @apply w-full border-2 border-black bg-white py-10 px-20 mt-10;
}

.captcha-field {
    @apply h-76 !w-auto;
}

.contact-form-wrapper input[type="submit"] {
    @apply cursor-pointer;
}

.contact-form-wrapper .submit-btn p {
  @apply relative overflow-hidden leading-16 px-25 py-10 uppercase bg-black text-yellow z-10 font-extrabold cursor-pointer inline-flex items-center;
}

.contact-form-wrapper .submit-btn p:hover {
  @apply text-black;
}

.contact-form-wrapper .submit-btn p::before {
  content: "";
  @apply absolute top-0 right-0 w-0 h-full bg-yellow transition-all duration-300 ease-linear -z-1;
}

.contact-form-wrapper .submit-btn p:hover::before {
  @apply w-full left-0;
}

.contact-form-wrapper .wpcf7-spinner {
    @apply hidden;
}