/* Hero Section Start */
.hero-banner {
    @apply relative min-1024:h-880 h-screen flex flex-col items-center justify-center;
}

.hero-banner::before {
    content: "";
    @apply absolute top-0 left-0 w-full h-full pointer-events-none;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0) 50%), radial-gradient(69.68% 48.01% at 50% 51.99%, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
}

.hero-banner video {
    @apply block size-full object-cover object-top absolute inset-0;
}

.hero-banner .video-title {
    @apply block relative z-1;
}

.hero-banner .hero-slider {
    @apply hidden min-1024:max-h-880 size-full object-cover relative;
}

.hero-banner .hero-slider .container-fluid-lg {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-full z-1;
}

.hero-banner .hero-slider .swiper-slide {
    @apply relative;
}

.hero-banner .hero-slider .swiper-slide::before {
    content: "";
    @apply absolute top-0 left-0 w-full h-full pointer-events-none;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0) 50%), radial-gradient(69.68% 48.01% at 50% 51.99%, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
}

.hero-banner .hero-slider img {
    @apply absolute top-0 w-full h-full left-0;
}

.hero-banner.show-slider .hero-video {
    @apply block;
}

.hero-banner.show-slider .hero-slider {
    @apply block;
}

.hero-pagination {
    @apply absolute !top-[78.4%];
}

.hero-banner .swiper-pagination-bullet {
    @apply w-40 h-10 border-2 border-white rounded-none opacity-100 bg-transparent;
}

.hero-banner .swiper-pagination-bullet-active {
    @apply bg-white;
}

.hero-banner .title h1 {
    @apply leading-77 max-575:leading-38 max-990:leading-55;
}

.hero-banner .title span {
    @apply mt-20 max-575:mt-10 max-575:text-heading-3-tablet;
}

.hero-banner .sub-title {
    @apply max-w-1312 mx-auto w-full;
}

.hero-banner .sub-title h2 {
    @apply leading-34 max-575:leading-22 max-575:text-18 text-white text-heading-4;
}

.banner-btns {
    @apply max-575:gap-10;
}

.banner-btns .btn {
    @apply max-575:min-w-245;
}

.inner-banner {
    @apply relative h-400;
}

.inner-banner::before {
    @apply content-[""] bg-center bg-no-repeat bg-cover absolute top-0 left-0 w-full h-full;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0) 50%), radial-gradient(57.69% 39.75% at 50% 60.25%, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
}

.inner-banner .container-fluid-lg {
    @apply flex justify-center items-center h-full z-5;
}
/* Hero Section End */

/* Zigzag Section Start */
.zigzag-wrapper {
    @apply min-1024:py-80 py-55 relative bg-center bg-cover bg-no-repeat;
}

.zigzag-wrapper::before {
    @apply content-[""] absolute top-0 left-0 w-full h-full;
    background: linear-gradient(270.07deg, rgba(249, 249, 249, 0) 31.57%, #F9F9F9 52.8%), linear-gradient(0deg, #FFFFFF, #FFFFFF), radial-gradient(72.02% 141.57% at 86.64% 12.18%, #F4EEE3 0%, #C2B7A3 50.96%, #FFFFFF 100%);
}

.zigzag-wrapper .zigzag-inner {
    @apply flex items-center gap-100 max-1024:flex-col max-1200:justify-center max-1200:gap-50 relative min-1600:justify-between max-575:gap-25;
}

.zigzag-wrapper.right-image .zigzag-inner {
    @apply max-1024:flex-col-reverse;
} 

.zigzag-wrapper .zigzag-inner img {
    @apply min-1024:w-400 max-575:max-w-200 max-1024:max-w-300 min-1600:w-420;
}

.zigzag-wrapper .zigzag-border {
    @apply border-l-3 border-gray ps-40 min-575:py-20 max-575:ps-20;
}

.zigzag-wrapper.right-image .zigzag-left {
    @apply flex flex-col gap-20 min-1024:max-w-640 min-1200:max-w-740 min-1600:w-full;
}

.zigzag-wrapper .zigzag-right {
    @apply min-1024:max-w-640 min-1200:max-w-740 min-1600:w-auto;
}

.zigzag-wrapper.right-image .content p {
    @apply text-slate-gray;
}

.zigzag-wrapper.right-image .content strong {
    @apply font-extrabold text-body-2;
}

.zigzag-wrapper.right-image .zigzag-left img {
    @apply w-auto h-546 max-1199:w-full max-768:w-440 max-575:w-250;
}

.zigzag-wrapper .zigzag-right {
    @apply flex flex-col gap-20 relative;
}

.zigzag-wrapper .global-list {
    @apply flex flex-col gap-10;
}

.zigzag-wrapper .global-list li {
    @apply text-white relative ps-20;
}

.zigzag-wrapper .global-list li::before {
    content: "";
    @apply absolute top-8 left-0 w-8 h-8 bg-yellow rounded-full;
}

.zigzag-wrapper .btn-custom {
    @apply flex items-center gap-10 mt-10 flex-wrap;
}

.zigzag-wrapper .btn-custom a img {
    @apply w-24 h-24;
}
/* Zigzag Section End */

/* Slider Section Start */
.different-slider-wrapper {
    @apply max-768:py-80 py-55 bg-black;
}

.different-slider-wrapper .title {
    @apply max-575:max-w-328 mx-auto max-w-1000;
}

.different-slider-wrapper .content {
    @apply max-575:max-w-328 mx-auto max-w-1000;
}

.different-slider-wrapper .title span {
    @apply inline;
}

.different-slider-wrapper .container-fluid-sm {
    @apply max-639:px-0;
}

.different-slider-wrapper .swiper-slide {
    @apply h-auto;
}

.different-slider-wrapper .slider-card {
    @apply h-full relative;
}

.different-slider-wrapper .slider-card .card-inner {
    @apply flex flex-col p-28 h-full items-center border-2 border-yellow justify-center;
}

.different-slider-wrapper .slider-card h6 {
    @apply relative max-w-202 mt-28 leading-24;
}

.different-slider-wrapper .slider-card .content {
    @apply mt-14;
}

.different-slider-wrapper .slider-card img {
    @apply w-100 h-100 relative;
}

.slider-card::before {
    @apply content-[''] absolute top-0 left-0 h-full w-full;
    background: linear-gradient(359.91deg, rgba(26, 26, 26, 0.88) 23.44%, rgba(26, 26, 26, 0.704) 49.04%, rgba(26, 26, 26, 0.5896) 60.42%, rgba(26, 26, 26, 0) 80.33%), rgba(94, 94, 94, 0.2);
}

.card-slider-pagination {
    @apply max-1199:flex items-center gap-28 max-1199:visible justify-center mt-40 hidden;
}

.card-slider-pagination img {
    @apply w-40 h-40 cursor-pointer;
}
/* Slider Section End */

/* Pricing Section Start */
.pricing-section {
    @apply py-80 bg-no-repeat relative overflow-hidden;
}

.pricing-section .price-tabs {
    @apply flex items-center gap-20 justify-center mt-55 max-575:mt-40;
}

.price-tabs button span {
  @apply cursor-pointer border-b-2 border-transparent transition-all duration-300 relative font-heading font-bold text-body-1 text-black opacity-50 uppercase;
}

.price-tabs button.active span {
  @apply border-b-2 border-black text-black opacity-100;
}

.price-tabs .month-btn {
    @apply border-r-2 border-black pe-20;
}

.pricing-section span {
    @apply inline;
}

.pricing-section .pricing-slider {
    @apply pt-65 max-575:pt-40 pb-10 px-10 max-575:px-0 max-575:overflow-visible;
}

.pricing-section .pricing-slider img {
    @apply relative;
}

.pricing-section .swiper-slide {
    @apply h-auto
}

.pricing-section .content {
    @apply mt-28 max-575:mt-20 max-w-1000 mx-auto;
}

.pricing-section .pricing-card {
  @apply h-full relative transition-all duration-500 ease-out border-4 border-[rgba(255,255,255,0.88)];
}

.pricing-section .pricing-card:hover {
  @apply scale-105 -translate-y-3 border-transparent;
}

.pricing-section .pricing-card-inner {
  @apply flex flex-col p-28 h-full items-center justify-center bg-white border-4 border-transparent pt-10;
}

.pricing-section .pricing-card:hover .pricing-card-inner {
  @apply border-black;
}

.pricing-section .swiper-slide:first-child .pricing-card {
  @apply scale-105 -translate-y-3 border-transparent;
}

.pricing-section .swiper-slide:first-child .pricing-card .pricing-card-inner {
  @apply border-black;
}

.pricing-section .price-badge {
    @apply flex w-full items-start pb-10 -ms-65;
}

.pricing-card:hover::before {
    @apply content-[''] absolute top-0 left-0 h-full w-full;
    background: linear-gradient(359.91deg, rgba(227, 227, 227, 0.88) 23.44%, rgba(227, 227, 227, 0.704) 49.04%, rgba(227, 227, 227, 0.5896) 60.42%, rgba(227, 227, 227, 0) 80.33%), rgba(227, 227, 227, 0.2);
}

.pricing-section .title-bold h5, .pricing-section .content p {
    @apply relative;
}

.pricing-card-inner .price-content {
    @apply mt-12 mb-28;
}

.pricing-card-inner .price-content span {
    @apply border-r-2 pe-8 border-[rgba(26,26,26,0.8)] font-normal;
}

.pricing-card-inner .price-content del {
    @apply opacity-40 pe-5;
}

.pricing-card-inner .price-content p {
    @apply text-heading-6 text-center !text-black;
}

.pricing-card-inner .content p {
    @apply text-slate-gray leading-20;
}

.pricing-section .price-tag {
    @apply uppercase bg-yellow text-body-4 font-extrabold py-8 px-10 top-10 left-0;
}
/* Pricing Section End */

/* Testimonial Section Start */
.testimonial-section {
    @apply py-80;
}

.testimonial-section .feedback {
    @apply flex justify-between gap-28 relative max-768:justify-center;
}

.testimonial-section .feedback .img {
    @apply shrink-0 relative;
}

.testimonial-section .feedback .left-quote {
    @apply max-768:absolute max-768:top-0 max-767:left-110 max-479:left-70;
}

.testimonial-section .feedback .right-quote {
    @apply max-768:absolute max-768:top-0 max-767:right-110 max-479:right-70;
}

.testimonial-section .feedback img {
    @apply w-28 h-28;
}

.testimonial-section .testimonial-card {
    @apply border-2 border-black p-28 max-575:p-22;
}

.testimonial-card::before {
    @apply content-[''] absolute top-0 left-0 h-full w-full;
    background: linear-gradient(359.91deg, rgba(249, 249, 249, 0.88) 23.44%, rgba(249, 249, 249, 0.704) 49.04%, rgba(249, 249, 249, 0.5896) 60.42%, rgba(249, 249, 249, 0) 80.33%), rgba(255, 255, 255, 0.2);
}

.testimonial-section .feedback .content {
    @apply w-auto max-768:mt-40;
}

.testimonial-section .feedback .content p {
    @apply text-heading-5 text-slate-gray leading-29 text-center max-w-509;
}

.testimonial-slider-pagination {
    @apply flex justify-center gap-28;
}

.testimonial-slider-pagination img {
    @apply w-40 h-40 mt-55 cursor-pointer;
}

.testimonial-section .client-name p {
    @apply text-slate-gray font-bold uppercase font-heading relative;
}
/* Testimonial Section End */

/* Journey Section Start */
.journey-section {
    @apply py-80 relative max-575:py-40;
}

.journey-section::before {
    @apply content-[''] absolute top-0 left-0 w-full h-full max-575:!bg-[linear-gradient(180deg,rgba(0,0,0,0)_30.95%,#000000_41.4%),radial-gradient(60.4%_24.89%_at_20.08%_6.44%,#F4EEE3_0%,#C2B7A3_55%,#000000_110.16%)] bg-center bg-cover bg-no-repeat;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.68%, rgba(0, 0, 0, 0.4) 91.4%), radial-gradient(
    45% 90% at 15% 30%,
    #F4EEE3 0%, 
    #C2B7A3 30.65%, 
    #000000 100%
    );
}

.journey-section .zigzag-inner {
    @apply min-1512:justify-center
}

.journey-section .zigzag-inner img {
    @apply min-1200:w-500;
}

.journey-section .btn-custom a {
    @apply flex items-center gap-10 mt-10 max-575:min-w-199 max-575:justify-start;
}

.journey-section .btn-custom a img {
  @apply transition-all duration-300 ease-linear;
  transition-property: filter, transform;
}

.journey-section .btn-custom a:hover img {
  filter: brightness(0) saturate(100%) invert(99%) sepia(3%) saturate(462%) hue-rotate(228deg) brightness(120%) contrast(100%);
}

/* Journey Section End */

/* Stylist Section Start */
.stylist-section {
    @apply py-80;
}

.stylist-section .white-box .title {
    @apply relative;
}

.stylist-inner .content p {
    @apply font-extrabold mt-28 max-479:mt-20;
}

.stylist-inner .stylist-grid {
    @apply grid grid-cols-4 gap-28 mt-28 max-768:grid-cols-2 max-479:grid-cols-1 max-479:gap-20;
}

.stylist-grid .img {
    @apply relative pt-[75.81%];
}

.stylist-grid .img img {
    @apply absolute top-0 left-0 w-full h-full;
}

.stylist-grid .content p {
    @apply font-extrabold mt-10 min-575:max-w-190 mx-auto;
}

.stylist-section .btn-custom {
    @apply mt-38 text-center max-479:mt-30;
}
/* Stylist Section End */

/* Different Slider Start */
.different-slider {
    @apply py-80 max-575:py-40 bg-black;
}

.different-slider .swiper-slide {
    @apply h-auto;
}

.different-card {
    @apply p-28 max-575:p-20 bg-white h-full text-center;
}

.different-slider .title,.different-slider .content {
    @apply max-w-1000 mx-auto;
}

.different-card .content p {
    @apply text-slate-gray
}

.different-card .img {
    @apply relative pt-[74.47%];
}

.different-card .img img {
    @apply absolute top-0 left-0 w-full h-full object-cover;
}

.different-card .card-info {
    @apply flex flex-col gap-14 mt-28;
}
/* Different Slider End */

/* Brand Section Start */
.brand-section {
    @apply py-80 relative;
}

.brand-section .content {
    @apply mt-28 max-575:mt-20;
}
/* Brand Section End */

/* Mission Section Start */
.mission-section {
    @apply py-30;
}

.mission-section .zigzag-inner img {
    @apply !w-320;
}
/* Mission Section End */

/* Elevate Section Start */
.elevate-section {
    @apply py-43;
}
.elevate-section img {
    @apply !w-304 h-456;
}

.elevate-section .zigzag-inner {
    @apply justify-between;
}
/* Elevate Section End */

/* Our Values Section Start */
.value-section {
    @apply bg-black py-80;
}

.value-card-slider .swiper-slide {
    @apply h-auto mt-55;
}

.value-card-slider .value-card {
    @apply h-full relative;
}

.value-card-slider .value-card-inner {
    @apply flex flex-col p-28 h-full items-center border-2 border-yellow justify-center;
}

.value-card-slider .title {
    @apply mt-28;
}

.value-card-slider .value-card .content {
    @apply mt-14
}

.value-card-slider .gradient-card img,
.value-card-slider .gradient-card .title {
    @apply relative;
}

.value-section .value-card .title {
    @apply max-w-340 mx-auto text-center;
}
/* Our Values Section End */

/* Include Section Start */
.include-section {
    @apply py-80 bg-black;
}
/* Include Section End */

/* Faq Section Start */
.faq-section {
    @apply py-80 relative z-2;
}

.faq-section .accordion-wrapper {
    @apply max-w-1000 mx-auto flex flex-col gap-14 pt-55;
}

.accordion-item {
  @apply overflow-hidden;
}

.accordion-header {
  @apply flex items-center justify-between w-full bg-black transition-colors duration-300 text-left cursor-pointer py-20 px-28 max-639:px-15;
}

.accordion-header h3 {
  @apply text-white font-bold font-heading max-639:text-body-1 max-639:leading-24;
}

.accordion-header img {
  @apply w-20 h-20 shrink-0 transition-transform duration-300 relative;
}

.accordion-item.active .accordion-header img {
  @apply rotate-180;
}

.accordion-body {
  @apply bg-white border-2 border-black duration-300 ease-in-out overflow-hidden max-h-0;
}

.accordion-content {
  @apply py-20 px-28;
}

.accordion-content p {
  @apply text-body-2 text-gray leading-20 mb-5;
}

.accordion-content ul {
    @apply flex flex-col gap-10;
}

.accordion-content .global-list li {
    @apply text-gray relative ps-20;
}

.accordion-content ul li::before {
    content: "";
    @apply absolute top-8 left-0 w-8 h-8 bg-yellow rounded-full;
}
/* Faq Section End */

/* Common Card Start */
.gradient-card {
    @apply relative;
}

.gradient-card::before {
    @apply content-[''] absolute top-0 left-0 h-full w-full;
    background: linear-gradient(359.91deg, rgba(26, 26, 26, 0.88) 23.44%, rgba(26, 26, 26, 0.704) 49.04%, rgba(26, 26, 26, 0.5896) 60.42%, rgba(26, 26, 26, 0) 80.33%), rgba(94, 94, 94, 0.2);
}

.gradient-card h6 {
    @apply leading-24;
}
/* Common Card End */